 .c1 {
    background-color: white;
    border-radius: 2%;
}








/* table */

.card {
    padding: .5rem;
}

.salesicon {
    width: 5vw;
}
 .card {
    padding: .5rem;
}
 .c1 {
    background-color: white;
    border-radius: 2%;
}


/* table */
body {
    background-color: #eff3f7;
}










.card {
    padding: .5rem;
}

.salesicon {
    width: 5vw;
}