body {
    background-color: #f5f6f8;
    font-family: 'Karla', sans-serif;
}
  .set_icon {
color:  #29CC61 !important;
}
.set_icon1{
    color: #0D536D;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
nav {
background-color: #0D536D;
color: white;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;

}
.start, .middle, .end {
padding: 10px;
}
.set_img{
width: 22px;
height: 22px;
}
.set_img1{
width: 90px;
height: 90px;
}